<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <div class="row">
        <% if comment.user.avatar? %>
            <%= image_tag comment.user.avatar.url, class: "avatar" %>
        <% end %>   
        <%= comment.user.username.present? ? comment.user.username : comment.user.email.split("@").first %>
    </div>

    <div class="row">
        <p class="text-justify"><%= comment.body %></p>
    </div>

    <div class="row">
        <% if comment.user == current_user %>
            <%= link_to 'Destroy Comment', [:users, comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?', text: 'You want to permanently delete this comment?' },
                class: "btn btn-danger"%>
        <% end %>
    </div> 
    <hr>
<% end %>


