<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <div class="row">
        <% if comment.user.avatar.attached? %>
            <%= image_tag comment.user.avatar.variant(resize_to_limit: [50, 50]), class: "img-thumbnail"  %>
        <% end %>   
        <%= comment.user.username.present? ? comment.user.username : comment.user.email.split("@").first %>
    </div>

    <div class="row">
        <p><%= comment.body %></p>
    </div>

    <div class="row">
        <% if comment.user == current_user %>
            <%= link_to "Remover", users_article_comment_path(article_id: @article.id, id: comment.id), method: :delete, data: {
                "confirm-swal": "Tem a certeza?",
                "yes-text": "Sim",
                "no-text": "Não"
                }, class: "btn btn-danger" %>
        <% end %>
    </div> 
    <hr>
<% end %>


