<table class="table table-hover" data-controller="welcomeIndex">
    <tbody>
        <% @articles.each do |article| %>
            <% if article.is_published %>
                <tr data-href="<%= published_article_path(article) %>" 
                    data-action="click->welcomeIndex#open_href" 
                    style="cursor: pointer;" class="pointer">
                    <td><%= image_tag article.banner %></td>
                    <td><b><%= article.title %></b></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
